*{
    margin: 0;
    max-width: 100%;
}

body{
    background-color: #f5f6fa;
}

.app{
    padding: 0 20px;
}

.app__header{
	text-align:center;
}

.app__option{
	text-align: center;
}

.app__option>select{
	padding: 4px;
    outline: none;
    font-size: 14px;
}

.app__phase1{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:1024px){
    .app__phase1{
        display: block;
    }
    .app__infoBoxes{
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (max-width:768px){
    .app{
        padding: 0;
    }
}

@media only screen and (max-width:425px){
    .app__infoBoxes{
        display: block;
    }
}